*, *:: before, *:: after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #ffffff;
  color: #57466D;
}

.card {
  justify-content: center;
  align-items: center;
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: #57466D;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 20px;
  color: white;
  outline: none;
  font-size: 80%;
}

.btn:hover {
  background-color: plum;
}

.start-btn {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px 20px;
}


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#my-timer {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #57466D;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 80vw;
  }
}

