*, *:: before, *:: after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

:root {
  --wrong: red;
  --correct: green;
  --neutral: black;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #ffffff;
  color: #57466D;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color:rgba(60, 64, 67, 0.15)
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: #57466D;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 20px;
  color: white;
  outline: none;
  font-size: 80%;
}

.btn:hover {
  background-color: plum;
}

body.correct {
  background-color: var(--correct);
}

body.wrong {
  background-color: var(--wrong);
}

.start-btn, .next-btn {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#my-timer {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #57466D;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  margin: 50px;
}

h2 {
  text-align: center;
}
 /*
li {
  list-style: none;
  margin-top: 20px;
  display: block;
}

p {
    font-size: 0.75em;
}

button {
  background-color: #57466D;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.0em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin: 0.6em auto;
  display: block;
}
/*
label {
  color: #212121;
}

select {
  font-size: 30px;
  width: 100%;
  margin-top: 10px;
  background-color: #d9bbe6
}

.card {
    background-color:	#fef5fa;
    border: 1px solid #D0E5FA;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    display: block;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    width: 60vw;
  
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

.time {

}

.questions {

}

#msg {
  display: block;
  min-height: 100px;
  width: 100%;
  margin-top: 10px;
  background-color: #d9bbe6;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 80vw;
  }
}

